<%- include('partials/header.ejs') -%>

<body>



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <h1><%= post.title %></h1>
      <p><%= post.description %></p>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/footer.ejs') -%>


</body>

</html>
